@{
    ViewData["Title"] = "Collection";
}

@model List<MovieResponse>

<table class="table table-bordered">

    <thead class="font-weight-bold">

        <tr>

            <td>Category</td>
            <td>Title</td>
            <td>Year</td>
            <td>Director</td>
            <td>Rating</td>
            <td>Edited</td>
            <td>Lent To</td>
            <td>Notes</td>

        </tr>

    </thead>

    <tbody>
            @foreach (var i in Model)
                {
                    <tr>
                        <td>@i.Category.CategoryName</td>
                        <td>@i.Title</td>
                        <td>@i.Year</td>
                        <td>@i.Director</td>
                        <td>@i.Rating</td>
                        <td>@i.Edited</td>
                        <td>@i.LentTo</td>
                        <td>@i.Notes</td>

                        <td><a asp-controller="Home" asp-action="Edit" asp-route-movieid="@i.MovieId">Edit</a></td>
                        <td><a asp-controller="Home" asp-action="Delete" asp-route-movieid="@i.MovieId">Delete</a></td>
                    </tr>
                }
    </tbody>

</table>